<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<jsp-config>
		<taglib>
			<taglib-uri>pagination</taglib-uri>
			<taglib-location>/WEB-INF/taglibs/pagination.tld</taglib-location>
		</taglib>
	</jsp-config>
	<error-page>
		<location>/errors</location>
	</error-page>
</web-app>